[submodule "software/micropython"]
	path = software/micropython
	url = https://github.com/micropython/micropython
[submodule "software/esp-idf"]
	path = software/esp-idf
	url = https://github.com/espressif/esp-idf
